
@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <style>
        table, th, td {
            border: 1px solid black;
        }

        table {
            width: 100%;
        }
    </style>
}
<br />

<div class="row">
    <div class="col-md-3">
        <input type="hidden" id="ESNIDP" name="ESNIDP" value="00000000-0000-0000-0000-000000000000" />
        <div class="form-group">
            <label for="HeartBeat_Min">ESN: </label>
            <input class="form-control" type="text" id="ESN" name="ESN" placeholder="Enter ESN" />
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="HeartBeat_Min">EST Name: </label>
            <input class="form-control" type="text" id="ESNName" name="ESNName" placeholder="Enter ESN Name" />
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <button type="button" class="btn btn-info waves-effect waves-light" onclick="Save();" style="margin-top: 25px;">Save</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="jumbotron">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>ESN</th>
                    <th>ESN Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="data">
                <tr>
                    <td colspan="4">
                        <div class="sk-wave">
                            <div class="sk-rect sk-rect1"></div>
                            <div class="sk-rect sk-rect2"></div>
                            <div class="sk-rect sk-rect3"></div>
                            <div class="sk-rect sk-rect4"></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <input type="hidden" id="CurrentPageValue" value="1" />
        <div style="float: left;">
            <label class="form-label" style="padding-top:5px">
                Showing <span id="FirstRecord"></span> to <span id="LastRecord"></span> of <span id="TotalRecords"></span>
            </label>
        </div>
        <div style="float: right;text-align: right;">
            <button id="LeftEnd" href="javascript:;" class="btn btn-primary" onclick="GetData(10,1,'LE')"><i class="fa fa-angle-double-left" aria-hidden="true"></i></button>&nbsp;
            <button id="Left" href="javascript:;" class="btn btn-primary" onclick="GetData(10,1,'L')"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
            Page
            <input type="text" name="text" id="NavigationValue" value="1" class="form-control" style="width:10%;display:inline-block" />&nbsp; of <span id="TotalPages"></span> &nbsp;
            <button id="goBtn" href="javascript:;" class="btn btn-primary" onclick="GetData(10,1,'C')">Go</button> &nbsp;
            <button id="Right" href="javascript:;" class="btn btn-primary" onclick="GetData(10,1,'R')"><i class="fa fa-angle-right" aria-hidden="true"></i></button>&nbsp;
            <button id="RightEnd" href="javascript:;" class="btn btn-primary" onclick="GetData(10,1,'RE')"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
@section scripts{
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" type="text/javascript"></script>
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">*@
    <script>

        $(document).ready(function () {
            GetData(10, $("#CurrentPageValue").val(), '');
        });

        function GetData(RowPerPage, PageNo, NavigationType) {

            var navValue = parseInt($("#NavigationValue").val());
            var totalPage = parseInt($("#TotalPages").text());

            if (NavigationType === 'L') {
                if (navValue > 1) {
                    PageNo = navValue - 1;
                }

                $("#Left").removeClass("btn-info").addClass("btn-warning");
                $("#LeftEnd, #goBtn, #Right, #RightEnd").removeClass("btn-warning").addClass("btn-info");
            }
            else if (NavigationType === 'LE') {
                PageNo = 1;

                $("#LeftEnd").removeClass("btn-info").addClass("btn-warning");
                $("#Left, #goBtn, #Right, #RightEnd").removeClass("btn-warning").addClass("btn-info");
            }
            else if (NavigationType === 'C') {
                PageNo = navValue;

                $("#goBtn").removeClass("btn-info").addClass("btn-warning");
                $("#Left, #LeftEnd, #Right, #RightEnd").removeClass("btn-warning").addClass("btn-info");
            }
            else if (NavigationType === 'R') {
                if (totalPage > navValue)
                    PageNo = navValue + 1;
                else
                    PageNo = totalPage;

                $("#Right").removeClass("btn-info").addClass("btn-warning");
                $("#Left, #LeftEnd, #goBtn, #RightEnd").removeClass("btn-warning").addClass("btn-info");
            }
            else if (NavigationType === 'RE') {
                PageNo = totalPage;

                $("#RightEnd").removeClass("btn-info").addClass("btn-warning");
                $("#Left, #LeftEnd, #goBtn, #Right").removeClass("btn-warning").addClass("btn-info");
            }

            $("#NavigationValue, #CurrentPageValue").val(PageNo);

            var mData = {
                RowsPerPage: RowPerPage,
                PageNumber: PageNo,
            }

            $.ajax({
                type: "POST",
                url: "/ESNMaster/GetAllPagging",
                data: JSON.stringify(mData),
                contentType: "application/json",
                dataType: "json",
                success: function (mRes) {
                    $("#FirstRecord").text(mRes.FirstRecord);
                    $("#LastRecord").text(mRes.LastRecord);
                    $("#TotalRecords").text(mRes.TotalRecords);
                    $("#TotalPages").text(mRes.TotalPage);

                    var obj = JSON.parse(mRes.Data);
                    var iHTML = "";

                    if (obj.length === 0) {
                        $("#data").html("<tr><td colspan='4' align='center'>No Data Found.</td></tr>");
                    }
                    else {
                        for (var i = 0; i < obj.length; i++) {
                            iHTML += "<tr>";
                            iHTML += "<td><div>" + obj[i].SrNo + "</div></td>";
                            iHTML += "<td><div style='150px;'>" + obj[i].ESN + "</div></td>";
                            iHTML += "<td><div style='150px;'>" + obj[i].ESNName + "</div></td>";
                            iHTML += '<td><button class="btn btn-info w-sd" id=' + obj[i].ESNIDP + ' onclick="Get(this.id)"><i class="fa fa-edit nav-icon"></i> Edit</button>';
                            iHTML += '&nbsp;<button class="btn btn-danger w-sd" id=' + obj[i].ESNIDP + ' onclick="Delete(this.id)"><i class="fa fa-trash nav-icon"></i> Delete</button></td>';
                            iHTML += "</tr>";
                        }

                        $("#data").html(iHTML);
                    }
                }
            });
        }

        function Save() {
            if ($("#ESN").val() == '') {
                alert("ESN Require");
                return false;
            }
            if ($("#ESNName").val() == '') {
                alert("ESN Name Require");
                return false;
            }

            var mData = {
                ESNIDP: $("#ESNIDP").val()
                , ESN: $("#ESN").val()
                , ESNName: $("#ESNName").val()
            }

            $.ajax({
                type: "POST",
                url: "/ESNMaster/Save",
                data: JSON.stringify(mData),
                contentType: "application/json",
                dataType: "json",
                success: function (mRes) {
                    alert(mRes);
                    $("#ESNIDP").val("00000000-0000-0000-0000-000000000000");
                    $("#ESN").val("");
                    $("#ESNName").val("");
                    GetData(10, $("#CurrentPageValue").val(), '');
                },
                error: function (err) {
                    swal(err.statusText);
                }
            })
        }

        function Get(id) {

            var mData = { ESNIDP: id }

            $.ajax({
                type: "POST",
                url: "/ESNMaster/Get",
                data: JSON.stringify(mData),
                contentType: "application/json",
                dataType: "json",
                success: function (mRes) {

                    $("#ESNIDP").val(mRes[0].ESNIDP);
                    $("#ESN").val(mRes[0].ESN);
                    $("#ESNName").val(mRes[0].ESNName);

                    $("html, body").animate({ scrollTop: 0 }, "slow");
                }
            });
        }

        function Delete(id) {
            var mData = { ESNIDP: id}

            $.ajax({
                type: "POST",
                url: "/ESNMaster/Delete",
                data: JSON.stringify(mData),
                contentType: "application/json",
                dataType: "json",
                success: function (mRes) {
                    if (mRes.includes("Error")) {
                        alert(mRes)
                    }
                    else {
                        alert(mRes)
                        GetData(10, $("#CurrentPageValue").val(), '');
                    }
                }
            });
        }
    </script>
}
