.label-input {
    color: white;
    padding: 16px;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    height: 50px;
    font-size: 14px;
  }
  
  /* img upload */
  #file {
    display: none;
    margin: 0 auto;
  }
  
  .upload-icon {
    width: 200px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1pOnuv06sE-KPV5CqhNnB1D-KlM5gaCFJvk0V3-g7Ncaj-Cz8Zag_iQ6mvGmjzC6ERRw&usqp=CAU);
    height: 200px;
  }
  
  .button-test {
    width: 100px;
    height: 50px;
    background: url(http://www.java2s.com/style/download.png) no-repeat;
    cursor: pointer;
    border: none;
    margin-bottom: 10px;
  }
  
  .create-section{
    height: 655px;
    background-color: rgb(32,32,32);
    color:'white';
  }