.label {
  font-size: 44px;
  font-weight: 800 !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 200px;
  color: white;
  margin-top: 20px;
}

.list-section{
  background-color: rgb(32,32,32);
  color:'white';
}

.guild-section{
  margin: 0px 50px 50px 0px;
    cursor: pointer;
    width: 260px;
    height: 120px;
    background-color: rgb(48,48,48);
    border-radius: 10px;
}


