<section class="hero is-medium is-info is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1">
        Documentmanagement
      </h1>
      <h2 class="title">
        You have <span class="is-medium has-underline">{{balance}}</span> Documents
      </h2>
    </div>
  </div>
</section>
<br>
<div class="container">
  <h1 class="title">Add Document</h1>
  <h1 class="title is-4 is-info help">{{status}}</h1>

  <form #fileForm="ngForm">
    <div class="field">
      <label class="label">File</label>
      <p class="control">
        <input
          [(ngModel)]="sendingFile2"
          class="input"
          type="file"
          placeholder="95"
          (change)="onChange($event)"
          name="sendingFile"
          #sendingFileModel="ngModel">
      </p>
    </div>
    <div class="field">
      <label class="label">Description</label>
      <p class="control">
        <input
          [(ngModel)]="fileDescription"
          name="fileDescription"
          class="input"
          type="text"
          placeholder="Whitepaper Secret ICO"
          #fileDescriptionModel="ngModel"
        >
      </p>

    </div>

    <div class="field is-grouped">
      <p class="control">
        <button
          [disabled]="!fileForm.valid"
          (click)="sendFile()"
          class="button is-primary">
          Send
        </button>
      </p>
    </div>
  </form>
  <hr/>
  <h1 class="title" *ngIf="documents.length > 0">Existing Documents</h1>
  <table class="table">
    <tr *ngFor="let entry of documents">
      <td>{{entry.description}}</td>
      <td><a href="http://localhost:8500/bzzr:/{{entry.hash}}/">Download</a></td>
    </tr>
  </table>

  <strong>Hint:</strong> open the browser developer console to view any errors and warnings.

</div>
